<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- Define the file target with the correct layout including the timestamp -->
		<target xsi:type="File" name="logfile" fileName="wwwroot/logs/LogFile.txt"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=toString,Data}" />

		<!-- Define the console target -->
		<target name="logconsole" xsi:type="Console" />
	</targets>

	<rules>
		<!-- Write all logs of level Info or higher to both the console and the log file -->
		<logger name="*" minlevel="Info" writeTo="logconsole" />
		<logger name="*" minlevel="Info" writeTo="logfile" />
	</rules>
</nlog>
